<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lunch Generator</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/flatly.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @RenderSection("PageStyles", required: false)
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 15px">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Lunch Generator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            @if (!ViewBag.IsAccountController)
            {

                <div class="navbar-collapse collapse">
                    @if (ViewBag.IsAdmin)
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Manage Users", "ManageUsers", "Admin")</li>
                                </ul>
                            </li>
                        </ul>
                    }

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                            </ul>
                        </li>
                    </ul>
                </div>

            }
        </div>
    </nav>
    @if (!ViewBag.IsAccountController)
    {
        <div>
            <span style="float: right; padding-right: 15px">@ViewBag.LoggedInUserName</span>
        </div>
        <hr />
    }

    <div class="container body-content" style="margin-top: 20px;">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("PageScripts", required: false)
</body>
</html>