<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lunch Generator</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/flatly.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @RenderSection("PageStyles", required: false)
    <script type = 'text/javascript'>
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'914f6f59-be6d-42bf-acad-12ed637b0198'
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 15px">
        <div class="container-fluid">
            <div class="navbar-header">
                @if (!ViewBag.IsAccountController)
                {
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                }
                @Html.ActionLink("Lunch Generator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            @if (!ViewBag.IsAccountController)
            {

                <div class="navbar-collapse collapse">

                    @if (ViewBag.IsManager)
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Invite Users", "Invite", "Account")</li>
                                </ul>
                            </li>
                        </ul>
                    }

                    @if (ViewBag.IsAdmin)
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Manage Locations", "Index", "Locations")</li>
                                    <li>@Html.ActionLink("Manage Users", "ManageUsers", "Admin")</li>
                                </ul>
                            </li>
                        </ul>
                    }

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                            </ul>
                        </li>
                    </ul>
                </div>

            }
        </div>
    </nav>
    @if (!ViewBag.IsAccountController)
    {
        <div style="border-bottom: 1px solid gray">
            <span style="float: right; padding: 15px 15px 5px 0">@ViewBag.LoggedInUserName</span>
            <div class="clearfix"></div>
        </div>
    }

    <div class="container body-content" style="margin-top: 20px;">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("PageScripts", required: false)
</body>
</html>