@model IEnumerable<AppLunch.Models.ManageUsersModel>

@section PageStyles {
<link href="~/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" />
<style>
     td {
        vertical-align: middle !important;
    }
</style>
}

@{
    ViewBag.Title = "Manage Users";
}

<h2>Manage Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isManager)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.CheckBoxFor(x => item.isManager, new { @class="managerToggle", data_toggle="toggle", data_height="5px", id=item.IdentityID })
            </td>
        </tr>
    }
</table>

@section PageScripts {
<script src="~/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>

<script>
    $(".managerToggle").change(function () {
        var $this = $(this);
        if ($this.is(":checked")) {
            $.post("SetToManager", { identityID: $this.prop("id") });
        } else {
            $.post("RevokeManager", { identityID: $this.prop("id") });
        }
    });
</script>
}