@model AppLunch.Models.InviteModel

@{
    ViewBag.Title = "Invite";
}

<h2>Invite New User</h2>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(x => x.Inviter)

    @Html.LabelFor(x => x.Invitee, new { @class = "control-label" })
    @Html.TextAreaFor(x => x.Invitee, new { @class="form-control"})

    <input style="margin-top: 15px;" type="submit" class="btn btn-default" value="Invite User" />
}