@model AppLunch.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Please Login</h2>

<hr />

@if (ViewBag.isRegistrationRedirect)
{
    <div>An email confirmation link has been sent. Please confirm your email and login.</div>
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(x => x.UserName):
        @Html.EditorFor(x => x.UserName)
    </div>

    <div>
        @Html.LabelFor(x => x.Password):
        @Html.EditorFor(x => x.Password)
    </div>

    <div>
        <input class="btn" type="submit" value="Login" />
    </div>

    <div>
        @Html.ActionLink("Need an account?", "Register")
    </div>
}