@model AppLunch.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Please Login</h2>

<hr />

@if (Model.isRegistrationRedirect)
{
    <div>An email confirmation link has been sent. Please confirm your email and login.</div>
}

@if (Model.isPasswordRedirect)
{
    <div>An email has been sent with instructions on how to reset your password.</div>
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary()

    if (Model.needsEmailConfirmed)
    {
        <div>Click @Html.ActionLink("Here", "ResendEmailConfirmation", new { userID = ViewBag.UserID }) to resend confirmation email.</div>
    }

    if (Model.suggestPasswordReset)
    {
        <div>Forgot your password? Click @Html.ActionLink("Here", "PasswordResetInit", new { userID = ViewBag.UserID } )</div>
    }

    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(x => x.UserName):
        @Html.EditorFor(x => x.UserName)
    </div>

    <div>
        @Html.LabelFor(x => x.Password):
        @Html.EditorFor(x => x.Password)
    </div>

    <div>
        <input class="btn" type="submit" value="Login" />
    </div>

    <div>
        @Html.ActionLink("Need an account?", "Register")
    </div>
}