@model AppLunch.Models.RegistrationModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<hr />

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { autocomplete="off" }))
{
    @Html.ValidationSummary();
    @Html.AntiForgeryToken();

    <div>
        @Html.LabelFor(x => x.UserName)<span>:</span>
        @Html.TextBoxFor(x => x.UserName, new { autocomplete = "off" })
    </div>

    <div>
        @Html.LabelFor(x => x.Password)<span>:</span>
        @Html.PasswordFor(x => x.Password, new { autocomplete = "off" })
    </div>

    <div>
        @Html.LabelFor(x => x.ConfirmPassword)<span>:</span>
        @Html.PasswordFor(x => x.ConfirmPassword, new { autocomplete="off"})
    </div>

    <div>
        <input class="btn" type="submit" value="Register" />
    </div>
}